<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <!-- Левая часть меню -->
    <ul class="navbar-nav me-auto">   <!-- me-auto прижимает блок к левому краю -->
      <li class="nav-item">
        <a class="nav-link" href="/">Главная</a>
      </li>
      {% if user %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Мои дела</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/user/cases/create">Создать дело</a></li>
                <li><a class="dropdown-item" href="#">Удалить дело</a></li>
              </ul>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/courts/">Заседания</a>
        </li>
      {% endif %}
    </ul>
    

    <!-- Правая часть меню (пользователь и выход) -->
    <ul class="navbar-nav">
      {% if user %}
        <li class="nav-item">
          <span class="nav-link disabled">{{ user.username }}</span>  <!-- просто текст -->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Профиль</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/profile">Мой профиль</a></li>
            <li><a class="dropdown-item" href="/user/profile/edit">Настройки</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Выйти</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Войти</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>