<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="style.css" />

<title>{% block title %}{% endblock %} - My Webpage</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

{% block styles %}{% endblock %}

{% block favicon %}
    <link rel="shortcut icon" href="#" />
{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">

{% block navbar %}
  {% include 'components/navbar.html' %}   <!-- вставка навигации -->
{% endblock %}

{% block main %}
  {# основное содержимое страницы #}
{% endblock %}
{% block login %}{% endblock login %}

{% block footer %}
  {% include "components/footer.html" %}
{% endblock %}

{% block scripts %}
<!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
</body>
</html>
